@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

:root {
	--theme: rgb(255, 255, 255);
	--primary: rgb(30, 30, 30);
	--tertiary: rgb(214, 214, 214);
	--radius: 8px
}
@media(prefers-color-scheme: dark) {
	:root {
		--theme:rgb(29, 30, 32);
		--primary: rgb(218, 218, 219);
		--tertiary: rgb(65, 66, 68)
}
}
*,::after,::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: var(--primary);
	text-decoration: none
}
body {
	font-family: "Source Sans", sans-serif;
	line-height: 2;
	word-break: break-word;
	background: var(--theme);
	text-align: center;
	margin: 50px 0;
	padding: 10px
}
h1 {
	font-family: "Source Serif", serif;
	padding: 0 0 50px;
}
footer {
	padding: 50px 0 0;
}
.button {
	background: var(--tertiary);
	border-radius: var(--radius);
	padding: 8px 80px;
	display: block;
	width: 100%
}
.lang {
	padding: 8px 80px;
	font-size: 14px;
	vertical-align: middle;
}
.links li {
	padding: 10px 0
}
.links {
	list-style: none;
	flex-direction: column;
	display: inline-block
}
.impressum {
	text-decoration: underline;
	padding: 0 0 30px;
}
